# Project Provider libvirt or virtualbox
project_provider: virtualbox

# Hostname of the backend and frontend nodes.
hostname_backend:  backend
hostname_frontend: frontend

# You can specify stable MAC addresses to keep this from resetting on every
# create.
#mac_address_backend: 0800274a508c
#mac_address_frontend: 0800274a508d

# It is possible to use a hostonly-network instead of a bridged network when
# setting the parameter use_bridge to false.
#use_bridge: false

# When using a hostonly-network it is possible to specify static IP addresses
# using the following parameters. If those parameters are not specified DHCP
# will be used.
ip_address_backend: 192.168.56.10
ip_address_frontend: 192.168.56.20
